node_modules
package-lock.json
node_modules
node_modules/*
node_modules/**/*
nohup.out
proj
*~

rsp-isolinux/src/custom*
rsp-isolinux/src/partition*
rsp-isolinux/src/source*
rsp-isolinux/src/.#custom-root.lck

debian10-live-minimal-x86_64.iso
rspdevelopment.iso
rsp.iso

build
dist

proj/*
proj/**/*
.git/*
.git/**/*

.gitmodules

rsp-arch/src/rsp-*